body {
  background-image: url(../images/warship.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

#topLeftParagraph {
  position: absolute; /* Set the position property to absolute */
  top: 0; /* Position from the top edge of the containing element (in this case, the <html> or <body>) */
  left: 0; /* Position from the left edge of the containing element */
  margin: 10px; /* Optional: Add some margin for better visibility */
  font-size: 20px;
  color: white;
}
#container {
  position: relative;
}
#header {
  position: fixed;
  top: 20%;
  left: 50%;
  color: white;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: underline;
  transform: translate(-50%, 50%);
}
#boardL {
  position: fixed;
  top: 50%;
  left: 5%;
}

#boardR {
  position: fixed;
  top: 50%;
  right: 5%;
}
table {
  width: 50%;
  border-collapse: collapse;
}
td {
  background-color: white;
  border: 1px solid #035096;
}
td:hover {
  background-color: #035096;
}

#carrierButton,
#cruiserButton,
#submarineButton,
#destroyerButton,
#attackButton {
  visibility: hidden;
}

/* CSS */
.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    #5adaff 0,
    #5468ff 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 28px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}
