body {
  background-image: url(../images/warship.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#div1 {
  text-align: center;
}

#div2 {
  text-align: center;
  padding-top: 250px;
}

#welcoming {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: #fff;
}

#topLeftParagraph {
  position: absolute; /* Set the position property to absolute */
  top: 0; /* Position from the top edge of the containing element (in this case, the <html> or <body>) */
  left: 0; /* Position from the left edge of the containing element */
  margin: 10px; /* Optional: Add some margin for better visibility */
  font-size: 20px;
  color: white;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 15px;
}
li a {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ddd;
}

#authentication {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Additional styles (optional) */
  padding: 20px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
  border-radius: 10%;
}

#authentication:active {
  background-color: #3498db; /* Dark blue when clicked */
  box-shadow: none;
}

#authentication:hover {
  background-color: #2c3e50; /* Lighter blue on hover */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}
